@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-serif: 'Cormorant Garamond', serif;
  --font-sans: 'Montserrat', sans-serif;
}

body {
  @apply bg-white text-obsidian overflow-x-hidden;
}

/* Custom scrollbar for luxury feel */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0A0A0A;
}

::-webkit-scrollbar-thumb {
  background: #D4AF37;
}

::-webkit-scrollbar-thumb:hover {
  background: #C5A059;
}
